<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Sector Submarine Data</title>
</head>
<body>
<h1>Sector Depth Values</h1>
<div class="button-container">
    <a href='http://localhost:8000/sectors'><p class="back-button">Go back to the list of sectors</p></a>
    <a href='http://localhost:8000'><p class="homepage-back-button">Go back to the homepage</p></a>
</div>

<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Submarine ID</th>
            <th>Position x</th>
            <th>Position y</th>
            <th>Position z</th>
        </tr>
        </thead>
        <tbody>
        %s
        </tbody>
    </table>
</div>
</body>
</html>