<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Sector data</title>
</head>
<body>
<h1>Sectors</h1>
<div class="button-container">
    <a href='http://localhost:WEBAPP_PORT_PLACEHOLDER'><p class="homepage-back-button">Go back to the homepage</p></a>
</div>

<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Sector ID</th>
            <th>Position x</th>
            <th>Position y</th>
            <th>Total depth average</th>
            <th>Standard deviation</th>
            <th>Height</th>
            <th>Ground</th>
            <th>Navigable</th>
            <th>Submarine data</th>
        </tr>
        </thead>
        <tbody>
        TABLE_ROWS
        </tbody>
    </table>
</div>
</body>
</html>